<!DOCTYPE html>
<html>
<head>
  <title>Bethel Students</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

   <div class="container">

	<!-- Main navigation fixed on top -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container"
				<a class="brand" href="#">
					Bethel Students
				</a>

				<ul class="nav">
					<li class="active">
						<a href="<%= root_url%>">Home</a>
					</li>
					<li><a href="https://www.ibssm.org">iBSSM</a></li>
					<li><a href="http://www.ibethel.org/where-to-stay/ivisit-redding-housing-website">iVisitRedding</a></li>
				</ul>

				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#"
							class="dropdown-toggle"
							data-toggle="dropdown">
							Helpful Sites
							<b class="caret"></b>

						</a>
						<ul class="dropdown-menu">
							<li><a href="http://www.google.com">Google</a></li>
							<li><a href="http://www.yahoo.com">Yahoo</a></li>
							<li class="divider"></li>
							<li><a href="http://ci.redding.ca.us/personnel/employment.cfm">City of Redding</a></li>
							<li><a href="http://www.rabaride.com">Redding Area Bus Authority</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<% flash.each do |key, value| %>
		<div class="alert alert-block alert-<%= key == :notice ? "success" : key %> fadeout" data-dismiss="alert">
			<a class="close">*</a>
			<h4 class="alert-heading"><%= key.capitalize %>:</h4>
			<%= value %>
		</div>
	<% end %>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header">Bethel Sites</li>
				<li class="active"><a href="<%= root_url%>"><i class="icon-white icon-home"></i> Home</a></li>
				<li><a href="http://bethelmusic.com"><i class="icon-music"></i> Bethel Music</a></li>
				<li><a href="http://store.ibethel.org"><i class="icon-book"></i> Bethel Store<a></li>
				<li><a href="http://www.ibethel.tv/home"><i class="icon-film"></i> Bethel TV</a></li>
				<li><a href="http://bethelredding.com"><i class="icon-home"></i> Bethel Redding</a></li>
				<li><a href="http://www.ibethel.org"><i class="icon-globe"></i> iBethel</a></li>
			</ul>
		</div>

		<div class="span9">
			<%= yield %>
		</div>
	</div>
   </div>

</body>
</html>
